
.screeningCreatePage .title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.screeningCreatePage .title span {
  color: #6feaf6;
}

.screeningCreatePage .submitBtn,
.screeningCreatePage .cancelBtn {
  padding: 1rem 2rem;
  width: fit-content;
}

.screeningCreatePage .datePicker {
  width: fit-content;
}

.screeningCreatePage .column {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 2rem;
  margin-bottom: 1rem;
}

.screeningCreatePage .actions {
  display: flex;
  justify-content: space-between;
}

.screeningCreatePage .cancelBtn {
  background: transparent;
  color: #dbdada;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
