.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header a {
  font-size: 1.2rem;
}

.header a.active,
.header a:hover {
  color: #6feaf6;
  text-decoration: underline;
  text-underline-offset: 6px;
}
